@media only screen and (max-width: 768px) {
    #header {
        background-size: cover;
        background-position: center;
    }
    section#header::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 735px;
        background: #ffffffba;
        top: 0;
    }
    .hero-content .heading, .footer-content h2 {
        font-size: 46px;
    }
    .hero-content .sub-heading, .img-upload-box h4 {
        font-size: 20px;
    }
    .hero-content .description, h3#no-found {
        font-size: 14px;
    }
    #footer {
        background: none;
    }
    
    .footer-logo {
        width: 100% !important;
    }
    
    
    #footer p,.option-one,.option-two {
        font-size: 14px;
    }

    .terms label {
        font-size: 12px;
    }

    .step-one, .step-two, .tandc {
        font-size: 28px;
    }
    .credit p {
        font-size: 10px;
    }
}