/* include fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;800&display=swap');

body {
    overflow-x: hidden;
}

*,
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* navigation */
section#navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: opacity 0.02s ease-in-out;
}

section#header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 735px;
    background: #ffffffba;
    top: 0;
}

nav {
    padding-top: 0;
    padding-bottom: 0;
}

.sticky {
    position: fixed !important;
    width: auto !important;
    background: #fff;
}

/* Header */
#header {
    /* background: url(../img/banner.jpg) center no-repeat; */
    background: url(../img/header-bg.jpg) center no-repeat;
    height: 735px;
    background-size: 95%;
    background-position-x: right;
    background-position-y: center;
}

.hero-content {
    height: 735px;
}

.hero-content .heading, .footer-content h2 {
    font-size: 44px;
}

.hero-content .sub-heading {
    font-size: 24px;
}

.hero-content .description {
    font-size: 18px;
}

.comp,
.final-btn,
.step2-btn {
    min-width: 200px;
    min-height: 40px;
    line-height: 40px;
}

/* compare */
.browse-btn {
    background: #bf2025;
    color: #fff;
    min-width: 200px;
    height: 50px;
    line-height: 50px;
}

.img-upload-box {
    min-height: 254px;
    /* width: 450px; */
}

#showimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#css-loader-icon {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

#result {
    min-height: 150px;
    resize: vertical;
    overflow: auto;
}

span.badge.badge-pill.badge-danger {
    padding: 10px 20px;
    font-weight: 500;
}

/* footer */
#footer {
    /* background: url(../img/footer.jpg) no-repeat center; */
    background: url(../img/footer-bg.jpg) no-repeat center;
    height: 600px;
    background-position-x: right;
    background-position-y: center;
    background-size: 60%;
}

span.icon {
    background: #bf2025;
    margin-left: 5px;
    border-radius: 50%;
    line-height: 34px;
}

.icon img {
    width: 36px;
    padding: 10px;
}